/***********************************************************************
*  FONT
***********************************************************************/
@font-face {
    font-family: 'brie_lightregular';
    src: url('../assets/fonts/bri293-webfont.eot');
    src: url('../assets/fonts/bri293-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/fonts/bri293-webfont.woff2') format('woff2'), url('../assets/fonts/bri293-webfont.woff') format('woff'), url('../assets/fonts/bri293-webfont.ttf') format('truetype'), url('../assets/fonts/bri293-webfont.svg#brie_lightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/***********************************************************************
*  OPAQUE NAVBAR SECTION
***********************************************************************/
.opaque-navbar {
    background-color: rgba(0,0,0,0.0);
    height: 60px;
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.navbar-collapse {
    border-color: transparent !important;
    -webkit-box-shadow: none !important;
}

.opaque-navbar.opaque {
    background-color: black;
    height: 60px;
    transition: background-color .5s ease 0s;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    -webkit-transition:color .2s ease-out;
    /* ...and now for the proper property */
    transition:color .2s ease-out;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #ff9500;
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    -webkit-transition:color .2s ease-out;
    /* ...and now for the proper property */
    transition:color .2s ease-out;
}

.navbar-collapse .navbar-nav>li>a {
    background-color: rgba(0,0,0,0.7);
}

.navbar-collapse .navbar-nav>li>a:hover {
    background-color: rgba(0,0,0,0.7);
}

/***********************************************************************
*  BODY
***********************************************************************/
body #details-assets img {
    max-width: 100%;
    max-height: 100%;
}